@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --yellow: #e6b323;
    --grey:#b5c2b7;
    --black:rgb(46, 40, 42);
    --blue: #4b5f83;
    --cream:#eddea4;
    --white: rgb(232, 230, 232);
    --red: #df1317;
}

body{
    font-family: 'PT Sans', sans-serif;
    background: var(--white);
    color: var(--black);
}

.section-padding{
    padding: 3rem 0;
}

.flexbox-parent{
    max-width: 95vw;
    margin: 0.5rem auto;
}

.flexbox-parent-medium{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.section-title__container{
    display: flex;
    padding: 1rem 1.5rem;
}

.section-title__icon{
    margin-right: 1rem;
}
.section-title__icon img{
    width: 100px;
    height: auto;
}
.section-title__text{
    line-height: 1.5;
    border-left: 0.3rem solid var(--grey);
    padding-left: 1rem;
}
.section-title__name{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.section-title__info{
    color: var(--grey);
}

.preloader{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.header{
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
}

.banner{
    margin-left: 2rem;
    border-left: 1rem solid var(--yellow);
}

.banner__title{
    font-size: 3rem;
    letter-spacing: 0.25rem;
    margin-left: 1rem;
    text-transform: uppercase;
    color: var(--blue);
}

.banner__title-name{
    color: var(--yellow);
    font-size: 3rem;
}

.img__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.img__item{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video__container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.video__item{
    width: 100%;
    height: 88vh;
    object-fit: cover;
}

.video__overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(245,243,245,0.2);
    z-index: -1;
}
.navBtn{
    position: fixed;
    top: 5%;
    right: 5%;
    z-index: 3;
    cursor: pointer;
    -webkit-animation-name: pulse;
    -moz-animation-name: pulse;
    -o-animation-name: pulse;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.navBtn img{
    width: 50px;
    height: auto;
}

@keyframes pulse {
    0%{
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
    50% {
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
        transform: scale(1.3);

    }
    100%{
        -webkit-transform: scale(1.0);
        -moz-transform: scale(1.0);
        -ms-transform: scale(1.0);
        -o-transform: scale(1.0);
        transform: scale(1.0);
    }
 }
.nav{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(232, 230, 232,0.4);
    z-index: 4;
    width: 0;
    overflow: hidden;

    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.nav__links{
    list-style-type: none;
}

.nav__logo{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size:2rem;
    padding: 0.5rem 1rem;
}
.nav__single-link{
    display: block;
    text-decoration: none;
    color: var(--black);
    font-size: 1.5rem;
    padding: 0.5rem 1rem;

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.nav__single-link:hover{
    background: var(--black);
    color: var(--blue);
    padding-left: 1.5rem;
}

.nav--show{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    background: rgba(232, 230, 232,0.4);
    z-index: 4;
}

.skill{
    display: flex;
    margin: 1rem 0;
}
.skill__icon{
    align-self: center;
    padding: 0.5rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out ;
    -ms-transition: all 0.5s ease-in-out ;
    -o-transition: all 0.5s ease-in-out ;
    transition: all 0.5s ease-in-out ;
}
.skill__icon img{
    width: 100px;
    height: auto;
}
.skill:hover .skill__icon{
    background: var(--blue);
    color: var(--white);
    border-radius: 0.3rem;
}
.skill__text{
    padding: 0.5rem;
}
.skill__name{
    text-transform: capitalize;
}
.skill__info{
    color: var(--grey);
    width: 70%;
}

/* contact section */
.contact{
    min-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.8)), url("/img/contact.jpeg") center / cover fixed no-repeat;
    clip-path: polygon(0 10%,100% 0,100% 90%,0 100%);
}
.contact__title{
    text-align: center;
    font-size: 4rem;
    color: var(--white);
    text-transform: uppercase;
    margin: 1rem 0;
    letter-spacing: 0.5rem;
}
.contact__input{
    background: transparent;
    border:none;
    border-bottom: 0.25rem solid var(--white);
    font-size: 2rem;
    padding: 0.25rem;
    color: var(--white);
    outline: none;
    margin: 0.5rem;
}
.contact__submit{
    cursor: pointer;
    display: inline-block;
    font-size: 2rem;
    margin: 0.5rem;
    text-transform: uppercase;
    padding: 0.25rem 1rem;
    background: transparent;
    color: var(--yellow);
    border-color: var(--yellow);
    border-radius: 0.2rem;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear ;
    -ms-transition: all 0.5s linear ;
    -o-transition: all 0.5s linear ;
    transition: all 0.5s linear ;
}

.contact__submit:hover{
    background: var(--yellow);
    color: var(--black);
}

.reverse-section-title__container{
    display: flex;
    flex-direction: row-reverse;
    padding: 1rem 1.5rem;
}

.reverse-section-title__icon{
    margin-left: 1rem;
}
.reverse-section-title__icon img{
    width: 100px;
    height: auto;
}
.reverse-section-title__text{
    line-height: 1.5;
    border-right: 0.3rem solid var(--grey);
    padding-right: 1rem;
}
.reverse-section-title__name{
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}
.reverse-section-title__info{
    color: var(--grey);
}

/* project */
.project{
    position:relative;
    /*background: linear-gradient(var(--yellow),var(--yellow));*/
}
.project__img{
    display: block;
    width: 100%;
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear ;
    -ms-transition: all 0.5s linear ;
    -o-transition: all 0.5s linear ;
    transition: all 0.5s linear ;
}
.project:hover .project__img{
    opacity: 0.5;
}
.project__icon{
    position: absolute;
    top: 50%;
    left: 50%;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -ms-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;

    color: var(--white);
    text-decoration: none;
    cursor: pointer;
    z-index: 2;
}

.project__icon img{
    width: 4vmax;
    height: auto;
}
.project:hover .project__icon{
    -webkit-transform: scale(1) translate(-50%,-50%);
    -moz-transform: scale(1) translate(-50%,-50%);
    -ms-transform: scale(1) translate(-50%,-50%);
    -o-transform: scale(1) translate(-50%,-50%);
    transform: scale(1) translate(-50%,-50%);
}

.project__outline{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    outline: 0.5rem solid var(--black);
    outline-offset: -2rem;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out ;
    -ms-transition: all 0.5s ease-in-out ;
    -o-transition: all 0.5s ease-in-out ;
    transition: all 0.5s ease-in-out ;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}

.project:hover .project__outline{
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}